* {
  box-sizing: border-box;
}

table, thead, tbody, tfoot, tr, td {
  box-sizing: content-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 800px;
  background: #d8d8d8;
}

/* Header and Nav*/
header {
  width: 100%;
  overflow: hidden;
  background: #8EC643;
  height: 60px;
  position: absolute;
  top: 0;
}

header .logo {
  width: 190px;
  border: none;
  padding: 0;
  margin: 0;
}

header .logo a {
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  color: transparent;
  display: block;
  height: 54px;
  margin: 0 auto;
}

header h1.logo {
  float: left;
}

header h1.logo a {
  background: url('../images/logo.png') no-repeat center center;
  background-size: 100%;
}

header cite.logo {
  float: right;
}

header cite.logo a {
  background: url('../images/ctl-logo-white.png') no-repeat center center;
  background-size: 100%;
}

header nav {
  width: 100%;
  display: block;
  padding-left: 190px;
  margin-bottom: 0;
}

header nav ul li {
  text-transform: uppercase;
  font-weight: 400;
  float: left;
}

header nav ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 20px 15px;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  text-align: center;
}

header nav ul li a:hover {
  color: #FFF;
  background-color: rgb(132, 188, 57);
  transition: background-color 0.25s ease;
}

#social-icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  padding: 20px 10px 20px 0px;
}

#social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#social-icons a.github {
  background-image: url("../images/logo_github_white.svg");
  margin-right: 2px;
}

#social-icons a.twitter {
  background-image: url("../images/logo_twitter_white.svg");
}

/* Metrics */
section.metrics {
  width: 100%;
  background: #2d2d2d;
  padding: 10px 20px;
}

section.metrics li {
  display: inline-block;
  width: 239px;
  height: 51px;
  border-right: 1px solid #4b4b4b;
}

section.metrics li:last-child {
  border-right: none;
}

section.metrics dl {
  margin: 0;
  padding: 0 20px;
}

section.metrics dt {
  color: #5f5f5f;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
}

section.metrics dd {
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 20px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.075em;
}

section.metrics dd span {
  color: #6c6c6c;
}

/* Search */
section.search {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

section.search h3 {
  display: inline-block;
  margin-top: 18px;
  margin-left: 40px;
}

section input[type="text"] {
  width: 30%;
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
}

/* Graph */

main {
  margin: 60px 0 0;
  padding-bottom: 60px;
  height: auto;
  min-height: 90%;
}

main h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 30px;
}
main small {
  display: block;
}

section.graph ul{
  padding: 10px;
  margin: 0 auto;
  width: 30%;
}

section.graph ul li {
  background: #2d2d2d;
  width: 100%;
  display: block;
  margin: 10px 0;
  color: #fff;
  padding: 10px 0;
  position: relative;
}

section.graph ul li:after {
  height: 16px;
  width: 50%;
  border-right: 2px solid #2d2d2d;
  position: absolute;
  bottom: -16px;
  left: 0;
  content: '';
}

section.graph ul li:last-child {
  background-color: #fff;
  color: #000;
}

section.graph ul li:last-child:after {
  display: none;
}

section.graph ul li > span {
  display: block;
  max-width: 120px;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

section.graph ul li span.size {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 6px;
}

.layer {
  text-align: center;
  vertical-align: middle;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  background-color: #cccccc;
  font-size: .75em;
}
p
.google-visualization-orgchart-lineleft {
  border-left-color: #8EC643;
}

.google-visualization-orgchart-lineright {
  border-right-color: #8EC643;
}

.google-visualization-orgchart-linetop {
  border-top-color: #8EC643;
}

.google-visualization-orgchart-linebottom {
  border-bottom-color: #8EC643;
}

.google-visualization-orgchart-nodesel {
  border: none;
  background: #8EC643;
}

.tags {
  display: block;
  font-weight: bold;
  margin-top: 3px;
}

/* Footer */

footer {
  margin-top: -60px;
  padding: 0 20px;
  background: white;
}

footer small {
  font-size: 12px;
  position: relative;
  top: -30px;
}

footer .logo {
  height: 70px;
  width: 170px;
  display: inline-block;
  background: url("../images/ctl_logo_base.svg") 0 20px no-repeat white;
  background-size: 140px 30px;
}


svg {
  margin: 0 auto;
  display: block;
}

#graph0 > polygon {
  fill-opacity: 0;
}

ellipse {
  fill: white;
}